<header>
  <div class="clint-header">
<div class="text-white  header-body  text-center d-flex justify-content-center align-items-center ">
  <div class="">
  <h3 class="fw-bold">ABOUT US</h3>
  <span routerLink="/home">HOME  >> </span>
  <span class="ms-2 text-decoration-none">ABOUT US</span>
</div>
</div>
  </div>

</header>


<!-- ^***************About******************* -->
<div class="container w-75 mx-auto py-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="p-4">

        <h2 class="text-primary about h5 ms-3">About Us</h2>
        <h3 class="h1">Enjoy Your Learning To <br /> Swim Together</h3>
        <p class="text-secondary">Exceptional client-focused capital market product suite capable of delivering
          attractive risk-adjusted returns. Let specialists unlock new areas for investment.</p>

        <div class="pt-3">

          <div class="d-flex  ">
            <div class="bg-primary d-flex justify-content-center align-items-center rounded-3 icon-container"
              style="width: 60px; height: 60px;">

              <i class="fa-solid fa-bullseye text-white fs-2"></i>
            </div>
            <div class="ms-3">
              <span class="fw-bold fs-5">Our Mission</span>
              <p class="text-secondary">Consectetur adipisicing elit usmod teincididunt <br /> laboret dolore magna
                aliquaut</p>
            </div>

          </div>

          <div class="d-flex  ">
            <div class="bg-primary d-flex justify-content-center align-items-center rounded-3  icon-container"
              style="width: 60px; height: 60px;">
              <i class="fa-solid fa-clock-rotate-left text-white fs-2 fa-envelope"></i>
            </div>
            <div class="ms-3">
              <span class="fw-bold fs-5">Successful History</span>
              <p class="text-secondary">Consectetur adipisicing elit usmod teincididunt <br /> laboret dolore magna
                aliquaut</p>
            </div>
          </div>

          <div class="d-flex  ">
            <div class="bg-primary d-flex justify-content-center align-items-center rounded-3  icon-container"
              style="width: 60px; height: 60px;">
              <i class="fas fa-swimmer text-white fs-2 fa-envelope"></i>
            </div>
            <div class="ms-3">
              <span class="fw-bold fs-5">Modern Equipment</span>
              <p class="text-secondary">Consectetur adipisicing elit incididunt labore dolore magna</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="circle-img">
        <img src="./assets/Home.png" alt="Swim Kids">
      </div>
    </div>
  </div>
</div>

<!-- ^***************feature-card******************* -->

<div class="py-5">
  <div class="clint">
    <div class="container-fluid text-white">
      <div class="row   clint-body d-flex justify-content-center align-items-end p-4">
        <div class="col-md-3">
          <div class="feature-card ">
            <i class="fs-1 mb-4  icon fas fa-swimmer"></i>
            <h4>Swimming Equipment</h4>
            <p class="text-secondary mb-3">Contrary to popular belief</p>
            <span  class="read-more text-light cursor-pointer  position-relative">Read More</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature-card">
            <i class="fs-1 mb-4 icon fas fa-water"></i>
            <h4>Water Slides And Flumes</h4>
            <p class="text-secondary mb-3">Contrary to popular belief</p>
            <span  class="read-more text-light cursor-pointer  position-relative">Read More</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature-card">
            <i class="fs-1 mb-4 icon fas fa-shield-alt"></i>
            <h4>Safe & Fun Environment</h4>
            <p class="text-secondary mb-3">Contrary to popular belief</p>
            <span  class="read-more text-light cursor-pointer  position-relative">Read More</span>
          </div>
        </div>

        <div class="col-md-3  m-0 p-0">
          <div class="feature-card">
             <i class="fs-1 mb-4 icon fas fa-credit-card"></i>
            <h4>Payment In Installments</h4>
            <p class="text-secondary mb-3">Contrary to popular belief</p>
            <span class="read-more text-light cursor-pointer  position-relative">Read More</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ^**************OUR TEAM MEMBER******************* -->

<div class="container py-5">
  <div class="row">
      <div class="col-md-4">
          <div class="team-member position-relative">
              <img class="rounded" src="./assets/Instructor4.jpeg" alt="Kathryn Murphy">
              <div class="social-iconsS  p-3 rounded">
                  <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#" class="social"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="social-hover"><i class="fas fa-arrow-up"></i></a>
              </div>
          </div>
          <h4 class="mt-3 fw-bold">Kathryn Murphy</h4>
          <p class="text-muted">Swim Instructor</p>
      </div>
      <div class="col-md-4">
          <div class="team-member position-relative">
              <img class="rounded" src="./assets/Instructor2.jpeg" alt="Esther Howard">
              <div class="social-icons">
                  <a href="#" class="social-icon"><i class="fas fa-share-alt"></i></a>
              </div>
          </div>
          <h4 class="mt-3 fw-bold">Esther Howard</h4>
          <p class="text-muted">Swim Instructor</p>
      </div>
      <div class="col-md-4">
          <div class="team-member position-relative">
              <img class="rounded" src="./assets/Instructor4.jpeg" alt="Marvin Mckinney">
              <div class="social-icons list-unstyled">
                  <a href="#" class="social-icon"><i class="fas fa-share-alt"></i></a>
              </div>
          </div>
          <h4 class="mt-3 fw-bold">Marvin Mckinney</h4>
          <p class="text-muted">Swim Instructor</p>
      </div>
  </div>
</div>

<!--^************** TESTIMONIAL ************** -->
<app-testimonial></app-testimonial>
