<footer class="  text-white py-4">
  <div class="pt-5 container w-75 mx-auto justify-content-between">
    <div class="row">
      <div class="col-md-3">
        <h4><span class="text-primary wavy wavy-circle position-relative">Swim</span>club</h4>
      </div>
      <div class="col-md-9 d-flex justify-content-evenly align-items-center">
        <h3 class="lead">Signup For Newsletter</h3>

        <div class="input-group mb-3 w-50">
          <input type="text" class="form-control bg-transparent  py-3  border-0 text-white-50"
            placeholder="Email adders ...">
          <div class="input-group-append">
            <button class="btn btn-primary p-3 rounded-0 rounded-end" type="button">
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>

      </div>
    </div>



  </div>
  <hr class="py-3 mt-5" />
  <div class="container w-75 mx-auto">
    <div class="row">
      <div class="col-md-3">
        <h5 class="fw-bold">About Us</h5>
        <div class="mt-4 text-secondary ">

          <p>Containing lorem ipsum passages, and
            more recently with desktop publishing
            software like aldus pagemaker
          </p>
        </div>
        <div class="d-flex justify-content-between w-75 pt-4">
          <div class="icon d-flex justify-content-center align-items-center rounded-pill">
            <i class="fas fa-brands fa-facebook-f"></i>
          </div>
          <div class="icon d-flex justify-content-center align-items-center rounded-pill">
            <i class="fas fa-brands fa-twitter"></i>
          </div>
          <div class="icon d-flex justify-content-center align-items-center rounded-pill">
            <i class="fa-brands fa-pinterest-p"></i>
          </div>
          <div class="icon d-flex justify-content-center align-items-center rounded-pill">
            <i class="fas fa-brands fa-linkedin-in"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="mx-3 fw-bold">Useful Links</h5>
        <div class="mt-4 text-secondary ">

          <ul class="list-unstyled ">
            <li class="my-2"><i class="fa-solid fa-angle-right mx-3"></i> Equipment Install</li>
            <li class="my-2"><i class="fa-solid fa-angle-right mx-3"></i> Pressure Wash</li>
            <li class="my-2"><i class="fa-solid fa-angle-right mx-3"></i> Service Specialty</li>
            <li class="my-2"><i class="fa-solid fa-angle-right mx-3"></i> Pool Maintenance</li>
            <li class="my-2"><i class="fa-solid fa-angle-right mx-3"></i> Drain & Clean</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="mx-3 fw-bold">Support</h5>
        <div class="mt-4 text-secondary ">

          <ul class="list-unstyled ">
            <li class="my-2"><i class="fa-solid fa-angle-right mx-3"></i> Privacy Policy</li>
            <li class="my-2"><i class="fa-solid fa-angle-right mx-3"></i> Support</li>
            <li class="my-2"><i class="fa-solid fa-angle-right mx-3"></i> Disclaimer</li>
            <li class="my-2"><i class="fa-solid fa-angle-right mx-3"></i> FAQ</li>
            <li class="my-2"><i class="fa-solid fa-angle-right mx-3"></i> Terms & Conditions</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="fw-bold">Contact Us</h5>
        <div class="mt-4 text-secondary ">

          <p>Call Us Now + 000 456</p>
          <p>1456 Info@Example.Com</p>
          <p>MineLab Head Office, ABC
            125666, UK</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="Copyright text-center text-white py-lg-3">Copyright © 2024. all rights reserved</div>