<div class="bg-primary py-2">
  <div class="container w-75 mx-auto">
    <div class="text-white py-2">
      <div class="container d-flex justify-content-between align-items-center">
        <div class="">
          <span class="">
            <i class="fa-regular fa-clock start-0 me-2 "></i>
            Mon - Sat: 8:00 - 18:00
          </span>
          <span class="border ms-5"></span>
          <span class="ms-4">
            <i class="fa-solid fa-phone bg-transparent mx-2"></i>
            (213) 235-2356
          </span>
        </div>
        <div class="d-flex">
          <div class="icon border-start border-1">
            <i class="fas fa-brands fa-facebook-f mx-2  "></i>
          </div>
          <div class="icon border-start border-1">
            <i class="fas fa-brands fa-twitter mx-2  "></i>
          </div>
          <div class="icon border-start border-1">
            <i class="fas fa-brands fa-github mx-2  "></i>
          </div>
          <div class="icon border-start border-1 border-end">
            <i class="fas fa-brands fa-linkedin-in mx-2  "></i>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<div class="bg-body-tertiary  pt-5 pb-3">
  <div class="row justify-content-center align-items-center  w-75 mx-auto">
    <div class="col-md-3">
      <h1 class="h2"><span class="text-primary wavy wavy-circle position-relative">Swim</span>club</h1>
    </div>
    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div
        class="bg-primary d-flex justify-content-center align-items-center rounded-bottom-circle rounded-start-circle icon-container"
        style="width: 60px; height: 60px;">
        <i class="fa-solid fa-envelope text-white fs-4 fa-envelope"></i></div>
      <div class="ms-3">
        <span class="fw-bold">Email Us</span>
        <p class="text-muted">info123@gmail.com</p>
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center align-items-center">
      <div
        class="bg-primary d-flex justify-content-center align-items-center rounded-bottom-circle rounded-start-circle icon-container"
        style="width: 60px; height: 60px;">
        <i class="fa-solid fa-location-dot text-white fs-4 fa-envelope"></i>
      </div>
      <div class="ms-3">
        <span class="fw-bold">Location</span>
        <p class="text-muted">Bulls stadium, california</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-primary p-3 rounded-pill">Sign Up <i class="fa-solid fa-angle-right mx-1"></i></button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container w-75 mx-auto">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="Active" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="Active" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="Active" routerLink="courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="Active" href="#">Pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="Active" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="Active" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="Active" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center ms-2">
          <i class="fa-solid fa-magnifying-glass text-white"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>