<div class="container my-5 w-75 mx-auto py-5">
  <span class="testimonial-title position-relative fw-bold ms-3">TESTIMONIAL</span>
  <h2 class="py-3">What Our Customers Say</h2>
  <p class="text-muted">Wxcepteur sint occaecat cupidatat non proident sunt culpa qui<br />
    officia deserunt mollit laborum.</p>
  <div class="row py-5">


    <owl-carousel-o [options]="customOptions">

      <ng-container *ngFor="let testimonial of testimonials">
        <ng-template carouselSlide class="owl-carousel owl-theme" >

            <div class="card mx-3">
              <div class="card-body testimonial p-4">
                <div class="d-flex align-items-center pt-2 ms-3">
                  <img class="rounded-circle" [src]="testimonial.image" alt="Client's profile picture">
                  <div class="ms-4">
                    <h5 class="fs-5 m-0 fw-semibold">{{testimonial.name}}</h5>
                    <span class="fs-6 m-0 p-0 text-muted">{{testimonial.title}}</span>
                  </div>
                </div>
                <p class="card-text ms-3 text-muted py-3">{{testimonial.comment}}</p>
                <div class=" w-50 ms-3" >
                  <i class="text-warning fa-solid fa-star"></i>
                  <i class="text-warning fa-solid fa-star"></i>
                  <i class="text-warning fa-solid fa-star"></i>
                  <i class="text-warning fa-solid fa-star"></i>
                  <i class="text-warning fa-solid fa-star"></i>
                 </div>
                <span class="card-text text-muted ms-3">{{testimonial.rating}} out of 5 stars</span>
              </div>
            </div>


        </ng-template>
      </ng-container>

    </owl-carousel-o>




   
  </div>
</div>
