

.card-body img {
  width: 50px;
  height: 50px;
}

.testimonial-title::before {
  content: "";
  position: absolute;
  top: 10;
  bottom: 2px;
  left: -15px;
  width: 5px;
  height: 80%;
  background: rgba(0, 77, 255, 255);
}

.testimonial {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.789),
      rgba(255, 255, 255, 0.789)
    ),
    url(/assets/review.svg);
  background-size: 80px 80px;
  background-position: bottom right;
  background-repeat: no-repeat;
  transform: translate(-15px, -15px);
  left: 50px;
}







.owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  z-index: 1000; /* لتكون الأزرار فوق العناصر الأخرى */
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  color: #004dff; /* لون الأيقونات */
  margin: 0 5px; /* مسافة بين الأزرار */
  cursor: pointer;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  color: #ff0000; /* لون الأيقونات عند التمرير */
}
