<!-- ^**************** header ************ -->
<header>
  <div class="clint-header">
    <div class="text-white  header-body  text-center d-flex justify-content-center align-items-center ">
      <div class="">
        <h3 class="fw-bold">OUR COURSES</h3>
        <span class="">HOME >> </span>
        <span class="ms-2 text-decoration-none">COURSES</span>
      </div>
    </div>
  </div>

</header>


<!-- ^**************** courses ************ -->
<div class="container w-75 mx-auto py-5">
  <div class="row">
    <div class="col-md-8">
      <div class="row g-4">

        <div class="col-xl-6  col-md-6 col-sm-12  rounded">

          <div class="card overflow-hidden p-3">
            <div class="card-image position-relative">
              <img class="w-100 rounded-top-3" src="./assets/8.jpg" alt="Swimming Pool">

              <div
                class="price-tag bg-body-tertiary text-primary position-absolute fw-bold rounded-end-4 rounded-bottom-0 p-4">
                $100.99 <span>/ Person</span></div>
            </div>
            <div class="card-body px-4  bg-body-tertiary">
              <h5 class="m-0 mt-3">Sea Turtles: 3-4 Years</h5>
              <p class=" mt-3 mb-5 text-secondary">Contrary to popular belief, loreipsum is not simply random desktop
              </p>
              <hr />
              <div class="d-flex justify-content-between py-3">
                <div class="footer-item d-flex align-items-center position-relative">
                  <i class="fas fa-user text-primary "></i>
                  <span class="mx-2">28 Enrolled</span>
                </div>
                <div class="">
                  <i class="fas fa-book text-primary "></i>
                  <span class="mx-2">13 Lesson</span>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col-xl-6  col-md-6 col-sm-12  rounded">

          <div class="card overflow-hidden p-3">
            <div class="card-image position-relative">
              <img class="w-100 rounded-top-3" src="./assets/9.jpg" alt="Swimming Pool">

              <div
                class="price-tag bg-body-tertiary text-primary position-absolute fw-bold rounded-end-4 rounded-bottom-0 p-4">
                $800.99 <span>/ Person</span></div>
            </div>
            <div class="card-body px-4  bg-body-tertiary">
              <h5 class="m-0 mt-3">Sharks: 4-12 Years</h5>
              <p class=" mt-3 mb-5 text-secondary">Contrary to popular belief, loreipsum is not simply random desktop
              </p>
              <hr />
              <div class="d-flex justify-content-between py-3">
                <div class="footer-item d-flex align-items-center position-relative">
                  <i class="fas fa-user text-primary "></i>
                  <span class="mx-2">28 Enrolled</span>
                </div>
                <div class="">
                  <i class="fas fa-book text-primary "></i>
                  <span class="mx-2">13 Lesson</span>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col-xl-6  col-md-6 col-sm-12  rounded">

          <div class="card overflow-hidden p-3">
            <div class="card-image position-relative">
              <img class="w-100 rounded-top-3" src="./assets/6.jpg" alt="Swimming Pool">

              <div
                class="price-tag bg-body-tertiary text-primary position-absolute fw-bold rounded-end-4 rounded-bottom-0 p-4">
                $200.99 <span>/ Person</span></div>
            </div>
            <div class="card-body px-4  bg-body-tertiary">
              <h5 class="m-0 mt-3">Pro Swimmers: 5-12 Years</h5>
              <p class=" mt-3 mb-5 text-secondary">Contrary to popular belief, loreipsum is not simply random desktop
              </p>
              <hr />
              <div class="d-flex justify-content-between py-3">
                <div class="footer-item d-flex align-items-center position-relative">
                  <i class="fas fa-user text-primary "></i>
                  <span class="mx-2">28 Enrolled</span>
                </div>
                <div class="">
                  <i class="fas fa-book text-primary "></i>
                  <span class="mx-2">13 Lesson</span>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col-xl-6  col-md-6 col-sm-12  rounded">

          <div class="card overflow-hidden p-3">
            <div class="card-image position-relative">
              <img class="w-100 rounded-top-3" src="./assets/5.jpg" alt="Swimming Pool">

              <div
                class="price-tag bg-body-tertiary text-primary position-absolute fw-bold rounded-end-4 rounded-bottom-0 p-4">
                $500.99 <span>/ Person</span></div>
            </div>
            <div class="card-body px-4  bg-body-tertiary">
              <h5 class="m-0 mt-3">Dee A ua Aerobics</h5>
              <p class=" mt-3 mb-5 text-secondary">Contrary to popular belief, loreipsum is not simply random desktop
              </p>
              <hr />
              <div class="d-flex justify-content-between py-3">
                <div class="footer-item d-flex align-items-center position-relative">
                  <i class="fas fa-user text-primary "></i>
                  <span class="mx-2">28 Enrolled</span>
                </div>
                <div class="">
                  <i class="fas fa-book text-primary "></i>
                  <span class="mx-2">13 Lesson</span>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col-xl-6  col-md-6 col-sm-12  rounded">

          <div class="card overflow-hidden p-3">
            <div class="card-image position-relative">
              <img class="w-100 rounded-top-3" src="./assets/12.jpg" alt="Swimming Pool">

              <div
                class="price-tag bg-body-tertiary text-primary position-absolute fw-bold rounded-end-4 rounded-bottom-0 p-4">
                $700.99 <span>/ Person</span></div>
            </div>
            <div class="card-body px-4  bg-body-tertiary">
              <h5 class="m-0 mt-3">Intermediate Swimmer</h5>
              <p class=" mt-3 mb-5 text-secondary">Contrary to popular belief, loreipsum is not simply random desktop
              </p>
              <hr />
              <div class="d-flex justify-content-between py-3">
                <div class="footer-item d-flex align-items-center position-relative">
                  <i class="fas fa-user text-primary "></i>
                  <span class="mx-2">28 Enrolled</span>
                </div>
                <div class="">
                  <i class="fas fa-book text-primary "></i>
                  <span class="mx-2">13 Lesson</span>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col-xl-6  col-md-6 col-sm-12  rounded">

          <div class="card overflow-hidden p-3">
            <div class="card-image position-relative">
              <img class="w-100 rounded-top-3" src="./assets/13.jpg" alt="Swimming Pool">

              <div
                class="price-tag bg-body-tertiary text-primary position-absolute fw-bold rounded-end-4 rounded-bottom-0 p-4">
                $800.99 <span>/ Person</span></div>
            </div>
            <div class="card-body px-4  bg-body-tertiary">
              <h5 class="m-0 mt-3">Swimming Class For Mini</h5>
              <p class=" mt-3 mb-5 text-secondary">Contrary to popular belief, loreipsum is not simply random desktop
              </p>
              <hr />
              <div class="d-flex justify-content-between py-3">
                <div class="footer-item d-flex align-items-center position-relative">
                  <i class="fas fa-user text-primary "></i>
                  <span class="mx-2">28 Enrolled</span>
                </div>
                <div class="">
                  <i class="fas fa-book text-primary "></i>
                  <span class="mx-2">13 Lesson</span>
                </div>
              </div>
            </div>
          </div>


        </div>


      </div>
    </div>
    <div class="col-md-4">


      <div class="container mt-4 border border-2 p-4 rounded">
        <div class="row">
          <h4 class="before-search ms-2">COURSE SEARCH</h4>
          <div class="col-md-8">
            <input type="text" class="form-control" id="search" placeholder="Search">
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-primary float-end px-5"><i class="fa-solid fa-magnifying-glass text-white"></i></button>
          </div>
        </div>
      </div>
      <div class="border border-2 p-4 rounded  mt-4">

        <div class="container mt-2">
          <h4 class="fw-bold">FILTER BY</h4>
          <h5 class="fw-bold">Skill Level</h5>
          <hr/>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="skillLevel" value="beginner" id="beginner">
            <label class="form-check-label" for="beginner">
              Beginner
            </label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="skillLevel" value="intermediate" id="intermediate">
            <label class="form-check-label" for="intermediate">
              Intermediate
            </label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="skillLevel" value="expert" id="expert">
            <label class="form-check-label" for="expert">
              Expert
            </label>
          </div>
        </div>

        <div class="container mt-4">
          <h5 class="fw-bold">Price Level</h5>
          <hr/>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="priceLevel" value="free" id="free">
            <label class="form-check-label" for="free">
              Free (10)
            </label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="priceLevel" value="paid" id="paid">
    <label class="form-check-label" for="paid">
      Paid (210)
    </label>
          </div>
        </div>

        <div class="container mt-4">
          <h5 class="fw-bold">Duration Time</h5>
          <hr/>

          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="durationTime" value="5+ Hours (30)" id="durationTime1">
            <label class="form-check-label" for="durationTime1">
                5+ Hours  (30)
            </label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="durationTime" value="15+ Hours (24)" id="durationTime2">
            <label class="form-check-label" for="durationTime2">
                15+ Hours  (24)
            </label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="durationTime" value="26+ Hours (18)" id="durationTime3">
            <label class="form-check-label" for="durationTime3">
                26+ Hours   (18)
            </label>
          </div>
        </div>

        <div class="container mt-4">
          <h5 class="fw-bold">Course Type</h5>
          <hr/>

          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="skillLevel" value="beginner" id="beginner">
            <label class="form-check-label" for="beginner">
              Swimming
            </label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="skillLevel" value="beginner" id="beginner">
            <label class="form-check-label" for="beginner">
              Swimming
            </label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="skillLevel" value="beginner" id="beginner">
            <label class="form-check-label" for="beginner">
              Swimming
            </label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="radio" name="skillLevel" value="beginner" id="beginner">
            <label class="form-check-label" for="beginner">
              Swimming
            </label>
          </div>
        </div>

        <div class="container mt-4">
          <h5 class="fw-bold">Instructor</h5>
          <hr/>

          <div class="form-check py-2">
            <input class="form-check-input" type="checkbox" value="" id="durationTime1">
            <label class="form-check-label" for="durationTime1">
              Jane Cooper
            </label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="checkbox" value="" id="durationTime2">
            <label class="form-check-label" for="durationTime2">
              Guy Hawkins
            </label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="checkbox" value="" id="durationTime3">
            <label class="form-check-label" for="durationTime3">
              Kristin Watson
            </label>
          </div>
          <div class="form-check py-2">
            <input class="form-check-input" type="checkbox" value="" id="durationTime3">
            <label class="form-check-label" for="durationTime3">
              Ronald Richards
            </label>
          </div>
        </div>
        <button class="btn btn-primary rounded-pill px-3 my-3">Submit Now</button>
      </div>
      <div class="container mt-4 border border-2 p-4 rounded">
        <h4 class="fw-bold before-categories ms-2 ">COURSE CATEGORIES</h4>
        <p class="text-secondary"><i class="fa-solid fa-angle-right me-2"></i> Kids Swimming</p>
        <p class="text-secondary"><i class="fa-solid fa-angle-right me-2"></i> Backstroke</p>
        <p class="text-secondary"><i class="fa-solid fa-angle-right me-2"></i> Skills Of Swimming ?</p>
        <p class="text-secondary"><i class="fa-solid fa-angle-right me-2"></i> Swimming For Adult</p>



      </div>

    </div>